*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 18px ;
    background-color:rgb(15, 14, 14);
    min-height: 100vh ;
    padding:2rem ;
    display:grid ;
    place-items:center ;
}

.score{
    font-size: 2rem ;
    text-align: center;
    margin-bottom: 1.7rem ;
}

.board{
    border-radius:12px ;
    padding:2px ;
    display:inline-block ;
    animation-name: shadow;
}


.cell{
    height:35px ;
    width:35px ;
    margin:1px ;
}

.snake{
    background-color:green ;
    border-radius:30% ;
}

.row{
    height:35px ;
    margin:0.7px ;
    display:flex ;
}

.game-over {
    height : 250px ;
    display:grid ;
    border-radius: 4px;
    place-items:center ;
    font-size:2rem ;
    width : 400px ;
    color:black ;
    margin: 100px auto ;
    background-color:rgb(197, 186, 186) ;
}

.food{
    border-radius: 50%;
    background-color:blue ;
    animation-name: food ;
}

.board,.food{
    animation-duration:1s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes shadow {
    from{
        box-shadow: 0 0 22px red ;
    }
    to{
        box-shadow: 0 0 10px red ;
    }
}

@keyframes food {
    from {
        transform: scale(1)
    }
    to{
        transform: scale(0.7)
    }
}